<%= link_to "Link Twitter", dashboard_twitter_auth_path %>
<hr>
<!--  -->
<h2>submit a wuphf here</h2>
<select id="select-recipient" placeholder="Select a person...">
  <option value="">Select a person...</option>
  <% @recipients.each do |recipient| %>
    <option><%= recipient.email %></option>
  <% end %>
</select>
<script>
$('#select-recipient').selectize();
</script>
<!--  -->

<hr>

<h2>dogpack goes here</h2>
<% @recipients.each do |recipient| %>
  <%= recipient.email %><br>
<% end %>

<hr>

<h2>create a dogpack member here</h2>
<%= form_for @recipient, :url => url_for(:controller => 'recipients', :action => 'create') do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :email %>
  <%= f.email_field :email %> <br>

  <%= f.label :phone %>
  <%= f.text_field :phone %> <br>

  <%= f.submit 'create' %>
<% end %>
