<div class="container">

  <section class="text-center p-3">
    <%= image_tag("dogs_orange.svg",size: "600", alt: "Create a Dog Pack", class: "img-fluid") %>
  </section>

  <div class="card bg-faded mt-3 mb-3 p-5 border-0">
    <%= render 'dashboard/wuphf_form' %>
  </div>

  <%= render 'dashboard/twitter_status' %>

  <div class="card-deck">
    <%= render 'dashboard/add_to_dogpack' %>
    <%= render @recipients %>
  </div>
</div>

<hr>

<% content_for :page_js do %>
  <script type="text/javascript">
    <%= render file: "#{Rails.root}/app/views/dashboard/js/wuphf_form.js" %>
  </script>
<% end %>
