<!DOCTYPE html>
<html>
  <head>
    <title>Wuphf - Email, Text, Tweet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash_alerts' %>
    <%= yield %>
    <%= yield :page_js %>
    <%= render 'layouts/footer' %>
  </body>
</html>
